<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create-announcement</ion-title>
    </ion-toolbar>
    <ion-item>
      <ion-button>
        <ion-nav-link  onclick="backButton()">
          Back
        </ion-nav-link>        
      </ion-button>
    </ion-item>
  </ion-header>
  <ion-header>
    <form [formGroup]="createAnnouncementForm" (submit)="addAnnouncement()" novalidate>
      <ion-item>
        <ion-label position="stacked">Announcement Title</ion-label>
          <ion-input 
          formControlName="Announcement1"
          type="text" 
          placeholder="Announcement Title"
          >        
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Details</ion-label>
        <ion-textarea formControlName="Announcement2"> </ion-textarea>
      </ion-item>
      
      <ion-button expand="block" type="submit" fill="clear" shape="round" routerLink="/home">Save</ion-button>
    </form>
  </ion-header>
</ion-content>
