<ion-header>
  <ion-toolbar>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let Announcement of Announcements">
    <ion-card-header>
      <ion-card-title>{{Announcement.Announcement1}}</ion-card-title>
    </ion-card-header>
    <img alt="placeholder" style=" width: 100%; height: 200px;" src="{{Announcement.Announcement2}}" />
    <ion-button>Delete</ion-button>
  </ion-card>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button routerLink="/create-announcement/new">+</ion-fab-button>
</ion-fab>
</ion-content>
