<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lecturers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor='let lecturer of newLecturers'>
      <ion-item slot="header" color="light">
        <ion-label>{{lecturer.firstName}} {{lecturer.lastName}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Staff Number: {{lecturer.staffNo}}</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-fab name="add-circle-sharp" slot="fixed" horizontal="start" vertical="bottom">
    <ion-fab-button (click)="addLecture()" style="font-size: xx-large;">+</ion-fab-button>
  </ion-fab>
</ion-content>

