<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Include fullscreen=false or last item on <ion-list> will be hidden!! -->
<ion-content [fullscreen]="false">
  <ion-list>
    <ion-item *ngFor='let student of newStudents'>
      {{student.firstName}} {{student.lastName}}
    </ion-item>
  </ion-list>
  <ion-fab name="add-circle-sharp" slot="fixed" horizontal="start" vertical="bottom">
    <ion-fab-button (click)="addStudent()" style="font-size: xx-large;">+</ion-fab-button>
  </ion-fab>
</ion-content>